# ── Jetson + Server chung ──────────────────────────
torch
torchvision
numpy
loguru
ultralytics          # YOLOv8n-seg (Jetson) + YOLOv8n (Server)
opencv-python
python-dotenv
Pillow

# ── Jetson only ────────────────────────────────────
aiohttp
aiofiles

# ── Server only ────────────────────────────────────
fastapi
uvicorn[standard]
python-multipart
faiss-cpu            # thay bằng faiss-gpu nếu có CUDA
timm
